@media (max-width: 768px) {
  .carousel-item {
    /* Adjust width and height for smaller screens */
    width: 100%;
    height: auto; /* Adjust height according to image aspect ratio */
  }
}
.input-field {
  width: calc(25% - 10px);
  height: 50px;
  background: transparent;
  border: 1px solid #4a5568;
  padding: 0 15px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
}

.btn {
  background: #ff4a52;
  color: #fff;
  padding: 15px 30px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #ff333a;
}
